@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

@section Style {
    <style>
        p {
            background: #AFE1AF;
            color: Red;
            text-decoration-color: red;
        }

            p:hover {
                background: #023020;
                color: red;
            }

        .employee-item {
            margin-bottom: 20px;
        }
    </style>
}

<p>Use this page to detail your site's privacy policy.</p>

<!-- Button to redirect to EmployeeSave -->
<div>
    <a asp-action="EmployeeSave" asp-controller="Employee" class="btn btn-primary">Add New Employee</a>
</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-6 employee-item">
            <h2>
                <a asp-action="EmployeeSave" asp-controller="Employee" asp-route-Id="@item.Id" class="btn btn-success">Link @item.Id</a>
            </h2>
            <h2>
                <a asp-action="EmployeeDelete" asp-controller="Employee" asp-route-Id="@item.Id" class="btn btn-danger">Delete @item.Id</a>
            </h2>
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Name: @item.Name</h2>
                    <h5 class="card-title">Department @item.DeptId</h5>
                    <h5 class="card-title">Designation @item.DesigID</h5>
                    <p class="card-text">Address: @item.Address</p>
                    <p class="card-text">City: @item.City</p>
                    <p class="card-text">Phone Number: @item.Phone</p>
                </div>
            </div>
        </div>
    }
</div>

@section jekono {
    <p>This is from Privacy</p>
}
